[submodule "wgame"]
	path = wgame
	url = https://github.com/agerasev/wgame.git
[submodule "phy"]
	path = phy
	url = https://github.com/agerasev/phy.git
[submodule "geom2"]
	path = geom2
	url = https://github.com/agerasev/geom2.git
